/* mobile  */


/* banner section */
@media screen and (max-width:576px) {
    
  .header{
    /* width: 1440px; */
    /* height: 100vh; */
    /* background: rgba(255, 144, 14, 0.10); */
    /* padding: 3.125rem 15rem 2.813rem 15rem; */
  }
  
  .banner-container{
    padding: 1rem 0.6rem 0.8rem 0.6rem;
  }
  
  .logo-text>h1{
  font-size: 2.2rem;
  margin-bottom: 25px;
  
  }
  
  .nav-container{
    flex-direction: column;
  }
  
  ul{

    gap: 1.5rem;
  }
  
  ul>li>a{
  font-size: 1.1rem;
  }
  
  
  .banner-section>h1{
    width: 21rem;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 0.6rem;
  }
  .banner-section>p{
    width:20rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-justify: inter-word;
    text-align: justify;
  }
  
  .btn{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.5rem 0rem 2.5rem 0rem;
  }
  .banner-img > img{
      width: 300px;
  }



  /* Square photo section here  */

  .main{
    padding: 1rem 0.6rem 0.8rem 0.6rem;
    /* width: 1920px; */
  }
  
  .square-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
.imgs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
  }
.imgs>img{
  display: block;
    justify-content: center;
    margin:  auto;
  }
  
  .square-text-section>h1{
    width: 300px;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 5px;
    /* text-align: center; */
  }
  
  
  .square-text-section>p{
    width: 350px;
    margin-bottom: 0px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5px;


  }

  /* features-section two  */

.features-section{
  flex-direction: column;
  justify-content: center;
  
}

/* .features-text{
  align-content: center;
  align-items: center;
  display: block;
    justify-content: center;
    margin: 0px auto;
} */

.features-section-box{
    width: auto;
    display: block;
    justify-content: center;
    margin: 1rem auto;
}
.features-text-main>h1{
  width: 213px;
  font-size: 25px;
}
.features-text>p{
  width: 408px;
  font-size: 16px;
}

.features-section-box{
  width: 360px;
  height: 160px;
  
}
.features-section-box>h3{
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px 0px 11px;
}
.features-section-box>p{
  width: 350px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 10px 11px;
}

.features-img>img{
    width: 300px;
    display: block;
    justify-content: center;
    margin: 0px auto;
    
    
}


}







/* tablet  */

/* banner section */
@media screen and (min-width:577px) and (max-width:992px) {
    
    .header{
      /* width: 1440px; */
      /* height: 100vh; */
      /* background: rgba(255, 144, 14, 0.10); */
      /* padding: 3.125rem 15rem 2.813rem 15rem; */
    }
    
    .banner-container{
      padding: 2rem 3rem 2rem 3rem;
    }
    
    .logo-text>h1{
    font-size: 2rem;
    /* margin-bottom: 25px; */
    
    }
    
    
    ul{
  
      gap: 1rem;
    }
    
    ul>li>a{
    font-size: 1.5rem;
    }
    
    
    .banner-section>h1{
      width: 30rem;
      font-size: 3rem;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    .banner-section>p{
      width:40rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: justify;
      
    }
    
    .btn{
      width: 8rem;
      height: 3rem;
      border-radius: 0.3rem;
      font-size: 1rem;
      margin: 2rem 0rem 3rem 0rem;
    }
    .banner-img > img{
        width: 600px;
    
    }
    /* Square photo section here  */


    .main{
      padding: 1rem 0.6rem 0.8rem 0.6rem;
      /* width: 1920px; */
    }
    
    .square-container{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    
  .imgs{
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      /* margin-left: 0;
      margin-right: 0; */
    }
  .imgs>img{
      display: block;
      justify-content: center;
      margin: 0px auto;
      
    }
    .square-text-section{
      display: block;
      /* text-align: center; */
      margin: 50px auto;
    }
    .square-text-section>h1{
      width: 400px;
      font-size: 45px;
    }
    
    
    .square-text-section>p{
      width: 750px;
      line-height: 2.5rem;
      margin-bottom: 0px;
      text-align: justify;
      font-size: 28px;
  
    }
    
    /* features-section two  */



.features-text-main>h1{
  width: 213px;
  font-size: 25px;
}
.features-text>p{
  width: 408px;
  font-size: 16px;
}

.features-section-box{
  width: 360px;
  height: 160px;
  
}
.features-section-box>h3{
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px 0px 11px;
}
.features-section-box>p{
  width: 350px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 10px 11px;
}

.features-img>img{
  display: block;
    width: 350px;
    /* display: block;
    justify-content: center;
    margin: 0px auto; */
    
    
}

}