/* mobile  */


/* banner section */
@media screen and (max-width:576px) {
    
  .header{
    /* width: 1440px; */
    height: 100vh;
    /* background: rgba(255, 144, 14, 0.10); */
    /* padding: 3.125rem 15rem 2.813rem 15rem; */
  }
  
  .banner-container{
    padding: 0.8rem 0.5rem 0.813rem 0.6rem;
  }
  
  .logo-text>h1{
  font-size: 2.2rem;
  margin-bottom: 25px;
  
  }
  
  .nav-container{
    flex-direction: column;
  }
  
  ul{

    gap: 1.5rem;
  }
  
  ul>li>a{
  font-size: 1.1rem;
  }
  
  
  .banner-section>h1{
    width: 21rem;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 0.6rem;
  }
  .banner-section>p{
    width:25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem; 
  }
  
  .btn{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1.5rem 0rem 2.5rem 0rem;
  }
  .banner-img > img{
      width: 380px;
  }
}